.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1000px;
    max-height: 800px;
}

.modal-content {
    align-items: center;
    width: 900px;
    max-width: 1000px;
    max-height: 800px;
    background-color: #fff;
}

.table {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.thead {
    width: 700px;
    max-height: 800px;
}


