.home-page {
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 1fr 0.5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.bookshelf {
    width: 100%;
    height: auto;
    grid-area: 1 / 2 / 4 / 5;
}

.bookshelf img  {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.div2 {
    grid-area: 4 / 3 / 6 / 4;
    background-color: white;
    border-radius: 15px;
}

.div3 {
    grid-area: 7 / 3 / 10 / 4;
    background-color: white;
}
.div4 { grid-area: 10 / 3 / 13 / 4; }
.div5 { grid-area: 4 / 2 / 13 / 3; }
.div6 { grid-area: 4 / 4 / 13 / 5; }

.greeting {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    max-font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    width: 100%;
    scale: 50%;
}