.home-page {
    position: relative;
    text-align: center;
}

.greeting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    min-width: 100px;
    /*color: white;*/
}

.bookshelf {
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
}

.logo {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    scale: 25%;
}
